.faq h1 {
  margin-bottom: 2rem;
}

.faq details {
  margin-bottom: 1rem;
}

.faq summary {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

.faq span {
  opacity: 0.75;
}

.faq details[open] summary {
  margin-bottom: 1rem;
}
