.faq h1 {
  margin-bottom: 2rem;
}

.faq h3 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.faq summary {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.faq details[open] summary {
  margin-bottom: 1rem;
}
