.footer {
  width: 100%;
  padding: 1rem 10%;
  text-align: center;
  color: white;
  background-color: #434343;
}

.footer * {
  margin: 0;
}

.footer p {
  font-size: 0.75rem;
  color: #c0c0c0;
}

.control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer section {
  display: flex;
  flex-direction: column;
  color: #d4d4d4;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.footer section :first-child {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  margin-bottom: 0.5rem;
}

@media (max-width: 550px) {
  .control {
    grid-template-columns: 1fr;
  }
}
