.wrapper {
  height: 100vh;
  overflow-x: hidden;
  perspective: 1rem;
  scroll-behavior: smooth;
}

.wrapper > header {
  box-shadow: none;
}

.wrapper > section {
  min-height: calc(100vh - 4rem);
  padding: 1rem;
  padding-top: 3rem;
  text-align: center;
}

.wrapper h1 {
  font-size: 3rem;
  line-height: 125%;
}

.wrapper h1:not(.second h1) {
  background: linear-gradient(
    45deg,
    rgb(255, 175, 0) 0%,
    var(--main-color) 50%,
    rgb(255, 175, 0) 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position-x: left;
  }
  50% {
    background-position-x: right;
  }
  100% {
    background-position-x: left;
  }
}

.wrapper h1:not(.second h1)::selection {
  -webkit-text-fill-color: white;
  color: white;
  background: var(--main-color);
}

.wrapper section p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.first {
  margin: auto;
  width: min(100%, 45rem);
  transform-style: preserve-3d;
  transform: translateZ(-1rem) scale(2);
}

.action {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.first > svg {
  margin: auto;
  display: block;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  animation: shake 1s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.second {
  color: white;
  transform: translateZ(0);
  background: linear-gradient(-45deg, rgb(255, 125, 75), var(--main-color));
}

.second > div {
  margin: auto;
  width: min(100%, 60rem);
}

.stats {
  padding: 1rem 0;
  display: grid;
  place-items: center;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.stats div svg {
  display: block;
  font-size: 2rem;
  margin: auto;
  margin-bottom: 1rem;
}

.second p {
  margin: 1rem auto;
  width: min(100%, 45rem);
}

.third {
  margin: auto;
  width: min(100%, 45rem);
}

.third > div {
  margin: 3rem 0;
}

.up {
  background-color: white;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .wrapper section {
    padding-top: 2rem;
  }
  .stats {
    grid-template-columns: 1fr;
    font-size: 1.1rem;
  }
  .stats div svg {
    font-size: 2.2rem;
  }
  .up {
    left: unset;
    right: 1rem;
  }
}
