.side {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: min(20rem, 55vw);
  z-index: 10;
  background-color: white;
  padding: 0 1rem;
}

.control {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 0.5rem;
}

.control svg {
  cursor: pointer;
}

.side nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.side nav span {
  font-weight: bold;
  padding: 0.5rem;
}

.side nav button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
}

.open {
  animation: pop-in 0.25s ease-in-out forwards;
}

.close {
  animation: pop-out 0.25s ease-in-out forwards;
}

@keyframes pop-in {
  from {
    opacity: 0;
    right: -55vw;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes pop-out {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    opacity: 0;
    right: -55vw;
  }
}
