.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.control {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f7323f;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
  }
}
