.item {
  margin: 2rem 0;
  padding: 0;
  text-align: center;
}

.image {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 20rem;
  overflow: hidden;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.item h3 {
  font-size: 1.25rem;
  margin: 1rem;
  color: #2c292b;
}
