.form {
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  font-weight: bold;
}

.image {
  display: flex;
  gap: 0.5rem;
}

.form textarea::-webkit-scrollbar {
  width: 5px;
}

.form textarea::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 1rem;
}

.invalid {
  border-color: #ff8383 !important;
  background-color: #fff3f3;
}

.invalid:focus {
  border-color: #ffd298 !important;
  background-color: #fff8ee;
}

.action {
  text-align: right;
}
