.modal {
  padding: 1rem;
  border-radius: 1rem;
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: min(100%, 45rem);
  height: 80vh;
  z-index: 5;
  overflow-y: scroll;
  background-color: white;
}

.modal::-webkit-scrollbar {
  display: none;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.control h1 {
  margin: 0;
}

.modal h2 {
  margin: 1rem 0;
}

.modal p {
  margin: 0.5rem 0;
}

.modal form {
  margin-top: 1.5rem;
}

.modal label {
  font-weight: bold;
}

.modal textarea {
  margin: 1rem 0;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action div {
  display: flex;
  gap: 0.5rem;
}

.action p {
  opacity: 0.75;
}

.open {
  animation: pop-in 0.25s ease-in-out forwards;
}

.close {
  animation: pop-out 0.25s ease-in-out forwards;
}

@keyframes pop-in {
  from {
    opacity: 0;
    top: 5vh;
  }
  to {
    opacity: 1;
    top: 10vh;
  }
}

@keyframes pop-out {
  from {
    opacity: 1;
    top: 10vh;
  }
  to {
    opacity: 0;
    top: 5vh;
  }
}
