.item {
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease-in-out;
  min-width: 0px;
}

.item:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.img {
  overflow: hidden;
  aspect-ratio: 16 / 9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  transition: all 0.25s ease-in-out;
}

.item:hover img {
  transform: scale(1.05);
}

.text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.text div {
  overflow: hidden;
  display: flex;
  gap: 5px;
}

.text div span {
  min-width: fit-content;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}

.text h3,
.text address,
.text p {
  margin: 0;
}

.text h3 {
  margin-bottom: 0.75rem;
}

.text p {
  opacity: 0.75;
}
