.item {
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.item:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.item img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.item h3 {
  font-size: 1.25rem;
  margin: 1.25rem;
}

.item p {
  margin: 0.5rem auto 1.25rem auto;
  max-width: 75%;
  color: rgba(0, 0, 0, 0.75);
}
