.meetup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.meetup > * {
  margin: 0;
}

.meetup img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.meetup h1,
.meetup address,
.meetup p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.meetup h1 {
  margin: 1.5rem 0;
}

.tags {
  overflow-x: scroll;
  display: flex;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: -0.5rem;
}

.tags::-webkit-scrollbar {
  height: 0.5rem;
}

.tags::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}

.tags span {
  min-width: fit-content;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}

.control {
  text-align: right;
}
