.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.control {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 2rem;
}

.error {
  text-align: center;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
  }
}
