.loader {
  height: 2px;
  background-color: rgb(175, 225, 255);
  animation: loading 1s ease-in-out infinite;
  position: fixed;
  top: 4rem;
}

@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
