.pagination {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  font-size: 1rem;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.pagination svg {
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.current {
  color: black !important;
}
