.select {
  position: relative;
}

.select svg {
  transition: transform 0.25s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.select ul {
  background-color: white;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3.5rem;
  z-index: 1;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}

.select ul li {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.select ul li:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.select ul li:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.select ul li:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.current {
  background-color: rgba(0, 0, 0, 0.05);
}

.current:hover {
  background-color: rgba(0, 0, 0, 0.075) !important;
}

.open {
  animation: fade-in 0.25s ease-in-out forwards;
}

.close {
  animation: fade-out 0.25s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
