.container {
  position: relative;
}

.slider {
  transition: all 0.5s ease-in-out;
  display: flex;
  gap: 2rem;
}

.slider img {
  cursor: pointer;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.container button {
  background-color: transparent;
}

.arrow {
  position: absolute;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  top: 50%;
  transform: translateY(-50%);
}

.container .arrow:first-of-type {
  left: 1rem;
}

.container .arrow:last-of-type {
  right: 1rem;
}

.container nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  display: flex;
  gap: 5px;
}

.container nav button {
  padding: 0;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.current {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
