.container {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.slider {
  transition: all 0.5s ease-in-out;
  display: flex;
  gap: 2rem;
}

.container img {
  cursor: pointer;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  object-fit: cover;
}

.focusedImg {
  border-radius: 1rem;
  max-height: 80vh;
  max-width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.open {
  animation: fade-in 0.25s ease-in-out forwards;
}

.close {
  animation: fade-out 0.25s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.container button {
  background-color: transparent;
}

.arrow {
  position: absolute;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  top: 50%;
  transform: translateY(-50%);
}

.container .arrow:first-of-type {
  left: 1rem;
}

.container .arrow:last-of-type {
  right: 1rem;
}

.container nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  display: flex;
  gap: 5px;
}

.container nav button {
  padding: 0;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.current {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
