@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  background: transparent;
  color: inherit;
}

body {
  margin: 0;
}

main {
  margin: 3rem auto;
  padding: 0 1.5rem;
  min-height: calc(100vh - 10rem);
  width: min(100%, 45rem);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  resize: none;
  font: inherit;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  width: 100%;
  transition: all 0.25s ease-in-out;
}

input:focus,
textarea:focus {
  border-color: #9b9b9b;
}

.btn {
  font: inherit;
  cursor: pointer;
  color: #f7323f;
  border: 1px solid #f7323f;
  transition: all 0.25s ease-in-out;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.btn:hover,
.btn:active {
  background-color: #f7323f;
  color: white;
}
